 * {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
    background: rgb(16, 15, 15);
    text-align: end;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a{
    background: rgb(15, 14, 14);
    display: block;
    padding: 20px 45px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.index{
    text-align: center;
    color: white;
    display: block;
    width: 230px;
    padding: 20px;
    background: rgb(8, 8, 8);
    position: absolute;
    z-index: 1;
    border-bottom-left-radius: 10px;
    top: 74px;
    right: 0px;
    display: none;
}

ul li a:hover{
    color: lightseagreen;
}

ul li:hover ul.index{
    display: block;
}

#active{
    color: lightseagreen;
}

.banner-container{
	width:1200px;
	height:400px;
	/* 轮播图居中 */
	margin:1rem auto;
	/* 隐藏超出展示容器的内容 */
	overflow: hidden;
	position: relative;
}

.banner-container .banner-img-container {
	width:6000px;
	height:400px;
	overflow: hidden;
	position: absolute;
	/* 开启弹性盒，让图片横向排列 */
	display: flex;
	animation: run 15s ease infinite;
}

.banner-container .banner-img-container img{
	width:1200px;
	height:100%;
}

/* 动画关键帧 */
@keyframes run {
	0%,10%{
		/* margin-left: 0; */
		transform: translateX(0);
	}
	20%,30%{
		/* margin-left: -1200px;; */
		transform: translateX(-1200px);
	}
	40%,50%{
		/* margin-left: -2400px; */
		transform: translateX(-2400px);
	}
	60%,70%{
		/* margin-left: -3600px; */
		transform: translateX(-3600px);
	}
	80%,90%{
		/* margin-left: -4800px; */
		transform: translateX(-4800px);
	}
	100%{
		/* margin-left: 0; */
		transform: translateX(0);
	}
}
 